<div class="card-container">
  <a
      class="card"
      [routerLink]="['/pizza']"
  >
  <img
  width="40"
  alt="Angular Logo"
  src="./assets/pizza-shop-svgrepo-com.svg"
>
      <span>Manage Pizza Types</span>
  </a>
  <a
      class="card"
      [routerLink]="['/order']"
  >
      <img
          width="40"
          alt="Angular Logo"
          src="./assets/pizza-shop-svgrepo-com.svg"
      >
      <span>Manage Orders</span>
  </a>
  <a
      class="card"
      [routerLink]="['/order']"
  >
      <img
          width="40"
          alt="Angular Logo"
          src="./assets/pizza-svgrepo-com.svg"
      >
      <span>All Orders</span>

  </a>
</div>
