<div class="container m-4">
  <button class="btn btn-success btn-lg" (click)="addNewPizza()" style="float: right;"><i class="bi bi-plus"></i>Add New</button>
  <table class="table table-responsive m-4">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pizza of pizzas; let i = index">
        <td>{{ pizza.id }}</td>
        <td><input type="text" [(ngModel)]="pizza.name" [disabled]="i !== editedIndex"></td>
        <td><input type="number" [(ngModel)]="pizza.price" [disabled]="i !== editedIndex"></td>
        <td><input type="text" [(ngModel)]="pizza.description" [disabled]="i !== editedIndex"></td>
        <td>
          <button class="btn btn-primary btn-sm m-2" *ngIf="i !== editedIndex" (click)="editPizza(i)"><i class="bi bi-pencil-square"></i></button>
          <button class="btn btn-success btn-sm m-2" *ngIf="i === editedIndex" (click)="saveEdit(i,pizza)" ><i class="bi bi-check"></i></button>
          <button class="btn btn-danger btn-sm" *ngIf="i !== editedIndex" ><i class="bi bi-trash"></i></button>
          <button class="btn btn-warning btn-sm ms-2" *ngIf="i === editedIndex && !isEditing" (click)="cancelEdit()" ><i class="bi bi-x"></i></button>
        </td>
      </tr>
      <tr *ngIf="isNewRowVisible">
        <td></td>
        <td><input type="text" [(ngModel)]="newPizza.name"></td>
        <td><input type="number" [(ngModel)]="newPizza.price"></td>
        <td><input type="text" [(ngModel)]="newPizza.description"></td>
        <td>
          <button class="btn btn-success btn-sm me-2" (click)="saveNewPizza()"><i class="bi bi-check"></i></button>
          <button class="btn btn-danger btn-sm" (click)="cancelNewPizza()"><i class="bi bi-x"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row justify-content-between align-items-center">
  <div class="col-md-6">
    <p>Showing page {{ page }} of {{ totalPages }}</p>
  </div>
  <div class="col-md-6">
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-end">
        <li class="page-item" [ngClass]="{ disabled: page === 1 }">
          <button class="page-link" (click)="previousPage()" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </button>
        </li>
        <li class="page-item" *ngFor="let pageNumber in totalPages" [ngClass]="{ active: page === pageNumber }">
          <button class="page-link" (click)="goToPage(pageNumber)">{{ pageNumber }}</button>
        </li>
        <li class="page-item" [ngClass]="{ disabled: page === totalPages }">
          <button class="page-link" (click)="nextPage()" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </button>
        </li>
      </ul>
    </nav>
  </div>
</div>
