<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="./assets/pizza-svgrepo-com.svg"
  />
  <span>Pizza Hub</span>
    <div class="spacer"></div>
    <div class="container" style="margin-right: 20px;">
      <a aria-label="Angular on twitter" href="https://twitter.com/angular"  style="color: azure; margin-right: 8px;">
      Pizza Types
    </a>

    <a aria-label="Angular on YouTube"  href="https://youtube.com/angular" title="YouTube" style="color: azure">
      Manage Orders
    </a>
  </div>
</div>

<div class="content" role="main">
  <app-card-nav></app-card-nav>
  <router-outlet></router-outlet>
</div>



